
<div class="" style="position:relative;width:100%;margin-bottom: 1em;">
  <div class="seventh">
    <%= link_to '<span></span>'.html_safe, '#' %>
    Tasters
  </div>
  <div class="seventh">
    <%= link_to '<span></span>'.html_safe, root_path %>
    Tasters that purchased
  </div>
  <div class="seventh active">
    <%= link_to '<span></span>'.html_safe, '#' %>
    Tasting Room Sales
  </div>
  <div class="seventh">
    <%= link_to '<span></span>'.html_safe, '#' %>
    Club Memberships
  </div>
  <div class="seventh">
    <%= link_to '<span></span>'.html_safe, '#' %>
  Purchase Conversion
  </div>
  <div class="seventh">
    <%= link_to '<span></span>'.html_safe, '#' %>
    Club Conversion
  </div>
  <div class="seventh">
    <%= link_to '<span></span>'.html_safe, '#' %>
    Salers Per Taster
  </div>
</div>

<script src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});
  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Month');
    data.addColumn('number', '<%= tasting_room.region.name %>');
    data.addColumn('number', 'You');
    <% @end_month = Date.today.month - 1 if @end_month.blank? %>
    data.addRows([
      <% for i in 1..@end_month do %>
        <%
        sales_you = tasting_room.sales_summaries_this_year.where(month: i).first
        if sales_you.present?
          dollars = sales_you.sales_in_dollars
          else
          dollars = 0.0
          end
        them_dollars = tasting_room.region.avg_sales_in_dollars(i, Date.today.year)
        %>
        // Data Points Label and then points
        [ "<%= escape_javascript Date::MONTHNAMES[i] %>",
        <%= escape_javascript( (them_dollars).to_s ) %>,
        <%= escape_javascript( (dollars).to_s ) %>
        ],
      <% end %>
    ]);

    // Set chart options
    var options = {'title':'Sales',
      backgroundColor: "rgb(213, 213, 213)",
      curveType: 'function',
      animation: {
        duration: 123,
        startup: 'true',
        eashing: 'in'
      },
      vAxis:{
        viewWindow: {
          min: -100
        }
      },
      colors:['rgb(150, 189, 190)', 'rgb(240, 133, 50)' ],
      chartArea:{left:'8%',top:'15%',width:'77%',height:'72%'},
      };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
window.addEventListener("resize", drawChart);
</script>

<div id="chart_div" class="chart-container" style=""></div>

<script>
  $(document).on('turbolinks:load', drawChart);
</script>
