<script src="https://www.gstatic.com/charts/loader.js"></script>

<div id="the_graph" class="" style="position:relative;width:100%;margin-bottom: 1em;">
  <div class="seventh <%= 'active' if params[:tasters].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(tasters: true) %>
    Tasters
  </div>
  <div class="seventh <%= 'active' if params[:purchasers].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(purchasers: true) %>
    Purchases
  </div>
  <div class="seventh <%= 'active' if params[:sales].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(sales: true) %>
      Tasting Room Sales
  </div>
  <div class="seventh <%= 'active' if params[:club_signup].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(club_signup: true) %>
    Club Signups
  </div>
  <div class="seventh <%= 'active' if params[:conversion].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(conversion: true) %>
    Purchase Conversion
  </div>
  <div class="seventh <%= 'active' if params[:club_conversion].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(club_conversion: true) %>
    Club Conversion
  </div>
  <div class="seventh <%= 'active' if params[:sales_per_taster].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(sales_per_taster: true) %>
    Sales Per Taster
  </div>
  <div class="seventh <%= 'active' if params[:sales_per_purchase].present? %>">
    <%= link_to '<span></span>'.html_safe, tasting_room_path(sales_per_purchase: true) %>
    Sales Per Purchase
  </div>
</div>



<script type="text/javascript">
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});
  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Month');
    data.addColumn('number', '<%= tasting_room.region.name %>');
    data.addColumn('number', 'You');
    <% @end_month = Date.today.month - 1 if @end_month.blank? %>
    data.addRows([
      <% for i in 1..@end_month do %>
        // Data Points Label and then points
        [ "<%= escape_javascript Date::MONTHNAMES[i] %>",
        {v: <%= escape_javascript( (@them[i]).round(2).to_s ) %>, f:"<%= escape_javascript( (@them_formatted[i]).to_s ) %>" },
        {v: <%= escape_javascript( (@you[i]).round(2).to_s ) %>, f:"<%= escape_javascript( (@you_formatted[i]).to_s ) %>"}
        ],
      <% end %>
    ]);

    // Set chart options
    var options = {'title':'<%= pluralize(tasting_room.region.tasting_rooms.count, 'winery') %> reporting:',
      backgroundColor: "rgb(213, 213, 213)",
      curveType: 'function',
      animation: {
        duration: 123,
        startup: 'true',
        eashing: 'in'
      },
      vAxis:{
        viewWindow: {
          min: 0
        }
      },
      colors:['rgb(150, 189, 190)', 'rgb(240, 133, 50)' ],
      chartArea:{left:'8%',top:'15%',width:'77%',height:'72%'},
      };

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>

<div id="chart_div" class="chart-container" style="" ></div>

<script>
  window.addEventListener("resize", drawChart);
  $(document).on('ready turbolinks:load', drawChart);
</script>
