<div class="pull-right">
  <%= link_to 'Edit', edit_tasting_room_path(@tasting_room), class: 'btn btn-secondary' %>
</div>
  <!--strong>Tasting Room Name:</strong-->
  <%# @tasting_room.name %>
<h2>
  <strong>Winery:</strong>
  <%= link_to @tasting_room.winery.name, @tasting_room.winery %>
</h2>

<p>
  <strong>Region:</strong>
  <%= @tasting_room.region.name %>
</p>

<p>
</p>

<p>
  <strong>Year established:</strong>
  <%= @tasting_room.year_established %>
</p>

<p>
  <strong>Num of employees:</strong>
  <%= @tasting_room.num_of_employees %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= @tasting_room.profile_image_id %>
</p>

<p>
  <strong>Estate:</strong>
  <%= @tasting_room.estate %>
</p>


<%= render partial: 'tasting_rooms/sales_table', locals: {tasting_room: @tasting_room} %>
