<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @winer_user.user %>
</p>

<p>
  <strong>Winery:</strong>
  <%= @winer_user.winery %>
</p>

<p>
  <strong>Permissions:</strong>
  <%= @winer_user.permissions %>
</p>

<%= link_to 'Edit', edit_winer_user_path(@winer_user) %> |
<%= link_to 'Back', winer_users_path %>
