<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-sm-6 col-md-4 card card-block">
    <h2>
      <%= gravatar_for @user.email %>
      <%= @user.name %>
    </h2>
    <h3>
      <%= @user.email %>
    </h3>
    <h4>
      <% if admin? %>
        Adminsitrator User
      <% else %>
      <% end %>
    </h4>
    <h4>
      <% if @user.wineries.blank? %>
        <%= link_to 'Register Winery', new_winery_path(user: current_user), class: 'btn btn-success' %>
      <% end %>
    </h4>
  </div>
  <div class="col-sm-6 col-md-8 card card-block">
    <% if !@user.activated? %>
    <div style='margin-bottom:1em;'>
      Your Account is not yet verified. Check your email for an activation mail.
      <br>
      <%= link_to 'Resend Activation Email', send_new_activation_email_path(id:@user.id), remote: true, onclick: "this.style.backgroundColor='rgb(245, 169, 99)';this.style.color='#FFFFFF';", class: 'btn btn-sm btn-info' %>
      <br>
    </div>
    <% end %>
    <% @user.wineries.each do |winery| %>
      <%= render partial: 'wineries/winery', locals: {winery: winery} %>
    <% end %>

  </div>
</div>


<% if admin? %>
<%# @user.activation_token  = User.new_token %>
<%# render partial: 'user_email/account_activation', layout: false, locals: {user: @user} %>
<% end %>
