<div class="row">
  <div class="col-md-1 col-lg-2 col-xl-2"></div>
  <div class="col-md-10 col-lg-8 col-xl-8">
    <div class="container-regular">
      <h2 align="center">Enter Sales for the Month</h2>
      <%= form_for(sales_summary, html: {class: ""}) do |f| %>
        <%= render 'shared/error_messages', donkey: f.object %>
        <% if params[:tasting_room].present? %>
          <%= f.hidden_field :tasting_room_id, :value => params[:tasting_room] %>
        <% end %>

        <div class="form-inline form-group" align="center">
          <%# f.label :month, class: "form-control-label" %>
          <!--div class="styled_select"-->
            <%= select_month(@sales_summary.month, :field_name => 'month', :prefix => 'sales_summary', class: "form-control") %>

          <%# f.label :year, class: "form-control-label" %>

            <%= select_year(@sales_summary.year, field_name: 'year', prefix: 'sales_summary', class: 'form-control') %>

        </div>
        <hr>
        <div class="form-group">
          <%# f.label :tasting_room_id %>
          <%# f.text_field :tasting_room_id %>
        </div>

        <div class="form-group row">
          <%= f.label :num_of_tasters, ("Num of tasters " + fa_icon("question-circle", :data => { toggle: "tooltip", title: "The number of People that come in for tastings."} )).html_safe, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <div class="col-sm-7">
            <%= f.number_field :num_of_tasters, class: 'form-control ' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :num_of_tasters_that_purchased, ("Num of tasters that purchased " + fa_icon("question-circle", :data => { toggle: "tooltip", title: "The number of People that purchased something from the tasting room."} )).html_safe, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <%# f.label :num_of_tasters_that_purchased, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <div class="col-sm-7">
            <%= f.number_field :num_of_purchasers, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :num_of_club_signups, ("Num of club signups " + fa_icon("question-circle", :data => { toggle: "tooltip", title: "The number of people that signed up for the wine club."} )).html_safe, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <%# f.label :num_of_club_signups, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <div class="col-sm-7">
            <%= f.number_field :num_of_club_signups, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :sales_in_dollars, ("Sales in dollars " + fa_icon("question-circle", :data => { toggle: "tooltip", title: "Sales made in the tasting room for the month."} )).html_safe, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <%# f.label :sales_in_dollars, style: 'text-align:right', class: "form-control-label col-sm-5" %>
          <div class="col-sm-7">
            <%= f.text_field :sales_in_dollars, class: 'form-control' %>
          </div>
        </div>





        <div class="form-group">
          <%# f.label :day, class: "form-label" %>
          <%# f.number_field :day %>
        </div>
        <br>
        <div class="form-group" style = "width:100%">
          <%= f.submit 'Save', class: 'btn btn-success',style:"width:100%" %>
        </div>

      <% end %>
    </div>
  </div>
  <div class="col-md-1 col-lg-2 col-xl-2"></div>
</div>
