<% provide(:title, @sales_summary.winery.name) %>
<%# link_to @sales_summary.tasting_room.winery.name, @sales_summary.tasting_room.winery %>
<%# link_to @sales_summary.tasting_room.region.name, @sales_summary.tasting_room %>
<br>
<% sales_summary = @sales_summary %>
<div class="row">
  <%= render partial: 'wineries/side_profile', locals: {winery: @sales_summary.winery} %>
  <div class="col-md-12 col-lg-9">
    <div style="margin-left:1em;margin-right:1em;">
      <%= render partial: 'sales_summaries/missing_months_this_year', locals: {tasting_room: @sales_summary.tasting_room} %>
    </div>
    <div style="width: 100%;max-width:40rem;margin-top:0;" class="container-regular table-responsive">
      <div class="pull-right">
        <%# link_to 'Edit', edit_sales_summary_path(@sales_summary), class: 'btn btn-sm btn-secondary' %>
      </div>
      <h4>Sales Benchmark for <%= Date::MONTHNAMES[@sales_summary.month] %></h4>
        <%= form_tag(sales_summary_path, method: :get, id: "select_month", class: "form-inline") do %>
          <!--div class="styled_select"-->
          Select date to view Benchmark
            <%= select_month(@sales_summary.month, :field_name => 'month', class: "form-control" ) %>
          <!--/div-->
            <%# select_tag 'month', options_for_select(Date::MONTHNAMES), selected: @sales_summary.month, onchange:'this.form.submit()' %>

            <%= select_year(@sales_summary.year, field_name: 'year', class: 'form-control', onchange: 'if(this.value != 0) { this.form.submit(); }') %>

          <%= submit_tag "View", class: "btn btn-success", style: "position:relative;" %>
          <%= submit_tag "Edit", class: "btn btn-info", style: "position:relative;" %>
        <% end %>
        <%# Date::MONTHNAMES[sales_summary.month] %> <%# sales_summary.year %>

      <hr>
      <table class="table-summary table-hover">
        <thead>
          <tr>
            <th style=""></th>
            <th><strong style="font-size:1.1em;"><%= @sales_summary.tasting_room.name %></strong> @ <%= @sales_summary.tasting_room.region.name %></th>
            <th><%= @sales_summary.tasting_room.region.name %> Average: <br><small><%# pluralize(@sales_summary.tasting_room.region.tasting_rooms.count, 'winery') %></small></th>
            <th>Variance</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td class="right">Tasters</td>
            <td><%= sales_summary.num_of_tasters %></td>
            <td class="num-reporting-td">
              <%= sales_summary.avg_tasters %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_tasters(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.num_of_tasters_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.num_of_tasters_percent_different, precision: 1 %></span>
            </td>

          </tr>

          <tr>
            <td class="right">Purchases</td>
            <td><%= sales_summary.num_of_purchasers %></td>
            <td class="num-reporting-td">
              <%= sales_summary.avg_purchasers %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_purchasers(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.num_of_purchasers_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.num_of_purchasers_percent_different, precision: 1 %></span>
            </td>
          </tr>

          <tr>
            <td class="right">Club Signups</td>
            <td><%= sales_summary.num_of_club_signups %></td>
            <td class="num-reporting-td">
              <%= sales_summary.avg_club_signups %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_club_signups(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.num_of_club_signups_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.num_of_club_signups_percent_different, precision: 1 %></span>
            </td>
          </tr>

          <tr>
            <td class="right">Tasting Room Sales</td>
            <td><%= number_to_currency sales_summary.sales_in_dollars, precision: 0 %></td>
            <td class="num-reporting-td">
              <%= number_to_currency sales_summary.avg_sales_in_dollars, precision: 0 %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_sales_in_dollars(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.sales_in_dollars_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.sales_in_dollars_percent_different, precision: 1 %>
              <%# number_to_percentage( (sales_summary.sales_in_dollars / sales_summary.avg_sales_in_dollars * 100.0) , precision: 1 )%>
            </span>
            </td>
          </tr>

          <tr>
            <td class="right">
              <%= link_to ("Purchase Conversion").html_safe, "",remote: true, class: "darklink", data: { toggle: "tooltip", title: "Purchases / Tasters" } %>
            </td>
            <td><%= number_to_percentage sales_summary.percent_tasters_purcahased, precision: 1 %></td>
            <td class="num-reporting-td">
              <%= number_to_percentage sales_summary.avg_tasters_purchased, precision: 1 %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_tasters_purchased(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.conversion_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.conversion_percent_different, precision: 1 %></span>
            </td>
          </tr>

          <tr>
            <td class="right">
              <%= link_to ("Club Conversion").html_safe, "",remote: true, class: "darklink", data: { toggle: "tooltip", title: "Club Signups / Purchases" } %>
            </td>
            <td><%= number_to_percentage sales_summary.percent_club_signup, precision: 1 %></td>
            <td class="num-reporting-td">
              <%= number_to_percentage sales_summary.avg_club_conversion, precision: 1 %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_club_conversion(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.club_conversion_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.club_conversion_percent_different, precision: 1 %></span>
            </td>
          </tr>

          <tr>
            <td class="right">
            <%= link_to ("Sales Per Taster").html_safe, "",remote: true, class: "darklink", data: { toggle: "tooltip", title: "Sales / Tasters" } %>
          </td>
            <td><%= number_to_currency sales_summary.sales_per_taster %></td>
            <td class="num-reporting-td">
              <%= number_to_currency sales_summary.avg_sales_per_taster, precision: 1 %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_sales_per_taster(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.sales_per_taster_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.sales_per_taster_percent_different, precision: 1 %></span>
            </td>
          </tr>
          <tr>
            <td class="right">
              <%= link_to ("Sales Per Purchase " ).html_safe, "",remote: true, class: "darklink", data: { toggle: "tooltip", title: "Sales / Purchases" } %>
            </td>
            <td><%= number_to_currency sales_summary.sales_per_purchase %></td>
            <td class="num-reporting-td">
              <%= number_to_currency sales_summary.avg_sales_per_purchase, precision: 1 %>
              <br>
              <span class="num-reporting">
                <%= link_to "(" + sales_summary.region.reporting_sales_per_purchase(sales_summary.month, sales_summary.year).to_s + ")", "", class: "darklink", data: { toggle: "tooltip", title: "Number of Wineries Reporting" } %>
              </span>
            </td>
            <td><span class="btn
              <% if sales_summary.sales_per_purchase_percent_different >= 100 %>
              variance_pos
              <% else %>
              variance_neg
              <% end %>
              ">
              <%= number_to_percentage sales_summary.sales_per_purchase_percent_different, precision: 1 %></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
$('a').tooltip({
  html: true});
</script>
