<%= form_for(winery_user, html: {class: 'form-inline'}) do |f| %>
  <% if winery_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(winery_user.errors.count, "error") %> prohibited this winery_user from being saved:</h2>

      <ul>
      <% winery_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%# link_to 'New User', signup_path, class: 'btn btn-success' %>
  <br>
  <br>
  <div class="form-group">
    <%= f.label :user_id, 'Pick A User:' %>
    <%= f.collection_select :user_id, User.order(:email), :id, :email, include_blank: true, class: 'form-control' %>
    <%# f.text_field :user_id %>
  </div>
  <br>
  <!--
  <div class="form-group">
    <label>Or Create a new User now:</label>
    <br>
    <%# f.label :new_user_name %>
    <%# f.text_field :new_user_name, class: 'form-control' %>
    <%# f.label :new_user_email %>
    <%# f.text_field :new_user_email, class: 'form-control' %>
  </div>
-->
  <br>
  <div class="form-group">
    <%= f.label :winery_id %>
    <%= f.collection_select :winery_id, Winery.order(:name), :id, :name, include_blank: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position, placeholder: 'Job Title i.e. CFO' %>
  </div>


  <div class="field">
    <%= f.label :permissions %>
    <%= f.number_field :permissions %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
