<div class="col-md-3 col-lg-3">
  <%= image_tag attachment_url(winery, :profile_image, :fill, 640, 420, format: "jpg", fallback: random_wine_image), class: 'profile-image-wide' %>
  <br>

  <div class="winery-info">
    <h3 class="link-title" style="line-height:1.6em;margin-left:.25em;"><%= link_to winery.name, winery %></h3>
    <strong>Since:</strong>
    <%= winery.year_established %>
    <br>
    <strong>Employees: </strong>
    <%= winery.num_of_employees %>
    <br>
    <strong>2015 DTC Cases Sold: </strong>
    <%= winery.cases_sold_2015 %>
    <br>
    <strong>Wine Club Members: </strong>
    <%= winery.wine_club_members %>
    <p>
      <strong>Tasting Rooms:</strong><br>
      <% winery.tasting_rooms.each do |tr| %>
        <%= link_to tr.region.name, tr %><br>
      <% end %>

    </p>
    <br>
    <div class='bottom-left'>
      <%= link_to 'Create a New Tasting Room', new_tasting_room_path(winery: winery), class: 'btn btn-sm btn-success' %>
    </div>
    <div class='bottom-right'>
      <%= link_to 'Edit', edit_winery_path(winery), class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
  <% if @tasting_room.present? %>
      <div class="winery-info">
        <h4>@ <%= @tasting_room.region.name %></h4>

          <strong>Since:</strong>
          <%= @tasting_room.year_established %>

        <p>
          <strong>Tasting Fee:</strong>
          <%= number_to_currency @tasting_room.tasting_fee %>
          <br>
          <strong>Estate:</strong>
          <%= @tasting_room.estate_yn %>
          <br>
          <strong>Seated Tastings:</strong>
          <%= @tasting_room.seated_tastings_yn %>
          <br>
          <strong>Non-wine sales:</strong>
          <%= number_to_percentage @tasting_room.non_wine_sales_percent_of_room, precision: 2 %>
          <br>
        </p>
        <div class='bottom-right'>
          <%= link_to 'Edit', edit_tasting_room_path(@tasting_room), class: 'btn btn-sm btn-secondary' %>
        </div>
      </div>
  <% end %>

  <br>

</div>
