

 <div class="card card-block" style="margin-left:.5rem;margin-right:.5rem;display:inline-block;max-width:20rem;background-color:rgba(200,200,200,1.0);">
   <img class="card-img-top" style="max-width:16rem;" src="<%= attachment_url(winery, :profile_image, :fill, 280, 120, format: "jpg", fallback: random_wine_image)%>">

   <div class="card-block">
     <h4 class="card-title"><%= link_to winery.name, winery %></h4>
     <p class="card-text">
       <strong>Tasting Rooms:</strong><br>
        <% winery.tasting_rooms.each do |tr| %>
          <%= link_to tr.region.name, tr %><br>
          <% end %>
       Est. <%= winery.year_established %><br>
       <strong>Num of employees:</strong>
       <%= winery.num_of_employees %><br>

     </p>
   </div>
   <ul class="list-group list-group-flush">
     <li class="list-group-item">Something about the numbers</li>

   </ul>
   <div class="card-block">
     <%= link_to 'Edit', edit_winery_path(winery), class: "card-link" %>
     <% if current_user.admin? %>
     <%= link_to "Destroy Winery", winery, method: :delete,
                                 class: 'card-link btn btn-sm btn-danger',
                                  data: { confirm: "You sure?" } %>
                                  <% end %>
   </div>
 </div>
