<% provide(:title, "All Wineries" ) %>

<h1>Wineries <%= link_to 'New Winery', new_winery_path, class: 'btn btn-success' %></h1>

<%# render @wineries %>
<table class="table table-sm table-inverse table-hover-inverse table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Months Behind</th>
      <th>Email</th>
      <th>Num of employees</th>
      <th>2015 Cases Sold</th>
      <th>Club Members</th>
    </tr>
  </thead>

  <tbody>
    <% @wineries.each do |winery| %>
      <tr>
        <td><%= link_to winery.name, winery %></td>
        <td>
          <% winery.tasting_rooms.each do |tr| %>
            <%= link_to tr.name, tr %>: <%= tr.missing_months_this_year %><br>
          <% end %>
        </td>
        <td><%= mail_to winery.users.first.email if winery.users.present? %></td>
        <td><%= winery.num_of_employees %></td>
        <td><%= winery.cases_sold_2015 %></td>
        <td><%= winery.wine_club_members %></td>


        <%# link_to 'Edit', edit_winery_path(winery), class: 'btn btn-sm btn-info' %>
        <%# link_to 'Destroy', winery, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
