<% provide(:title, "All Wineries" ) %>

<h1>Wineries <%= link_to 'New Winery', new_winery_path, class: 'btn btn-success' %>
   <%# link_to "CSV",wineries_path(format: :csv) , class: "btn btn-sm btn-secondary" %>
</h1>
<%= form_tag(wineries_path(format: :csv), method: :get, id: "select_month_for_csv", class: "form-inline") do %>

  <%= select_month(@month_select, :field_name => 'month', class: "form-control" ) %>
  <%# select_tag 'month', options_for_select(Date::MONTHNAMES), selected: @sales_summary.month, onchange:'this.form.submit()' %>
  <%= select_year(Date.today.year, field_name: 'year', class: 'form-control') %>
  <%= submit_tag "CSV", class: "btn btn-secondary", style: "position:relative;" %>
<% end %>
<br>


<%# render @wineries %>
<table class="table table-sm table-inverse table-hover-inverse table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Months Behind</th>
      <th>Email</th>
      <th>Num of employees</th>
      <th>2015 Cases Sold</th>
      <th>Club Members</th>
    </tr>
  </thead>

  <tbody>
    <% @wineries.each do |winery| %>
      <tr>
        <td><%= link_to winery.name, winery %></td>
        <td>
          <% winery.tasting_rooms.each do |tr| %>
            <%= link_to tr.region.name, tr %>: <%= tr.missing_months_this_year %><br>
          <% end %>
        </td>
        <td><% winery.users.each do |user| %>
              <%= mail_to user.email %><br>
            <% end %>
        </td>
        <td><%= winery.num_of_employees %></td>
        <td><%= winery.cases_sold_2015 %></td>
        <td><%= winery.wine_club_members %></td>


        <%# link_to 'Edit', edit_winery_path(winery), class: 'btn btn-sm btn-info' %>
        <td><%= link_to 'Destroy', winery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if root? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
