<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      //google.charts.load('current', {packages: ['corechart']});
      //google.charts.setOnLoadCallback(drawChart);
    </script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_alert' %>

    <div style='' class="container-fluid main">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%# debug(params) if Rails.env.development? %>
    <%= render '/layouts/google_analytics' %>

  </body>
</html>
